body {
	color: #979797;
	font-family: roboto;
}

h2 {
	letter-spacing: 1px;
}

	h2 span {
		color: #0692c6;
	}

.center {
	margin: 0 auto;
}

.txtc {
	text-align: center;
}

.autocomplete {
  margin: 0;
  position: relative;
}
.autocomplete__input {
  border: 0 !important;
  background: transparent !important;
  border-radius: 0;
  box-shadow: none;
  font-size: 1em;
  height: 25px;
  line-height: normal;
  margin: 1px 0;
  outline: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.autocomplete__input--hidden {
  display: none;
}
.autocomplete__items {
  margin: 0;
  padding: 0.4em;
}
.autocomplete__item {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 0.3em;
  padding: 0.5em;
}
.autocomplete__item--selected, .autocomplete__item:hover, .autocomplete__item:visited {
  background-color: #ebebeb;
  color: black;
}
.autocomplete__item--disabled {
  background-color: white;
  color: buttonface;
  opacity: 0.5;
}
.autocomplete__item--disabled:hover {
  background-color: white;
  color: buttonface;
}
.autocomplete__item span {
  flex: 1;
  font-size: 1em;
  word-wrap: break-word;
}
.autocomplete__item__dropdown {
  margin: -0.4em;
}
.autocomplete__menu {
  background: white;
  box-shadow: 0.1em 0.1em 3em rgba(0, 0, 0, 0.25);
  display: block;
  line-height: 1.5em;
  max-height: 30em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5em;
  position: absolute;
  text-decoration: none;
  width: 100%;
  visibility: visible;
  z-index: 100;
}
.autocomplete__menu--wrap {
  position: relative;
  width: 100%;
}
.autocomplete__menu--hidden {
  visibility: hidden;
}
.autocomplete__dropdown {
  background: none !important;
  flex: 0 !important;
  float: right;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: -0.2em;
}
.autocomplete__dropdown:before {
  content: '\25be';
}
.autocomplete__close {
  background: none !important;
  flex: 0 !important;
  float: right;
  padding: 0 0.5em;
}
.autocomplete__close:before {
  content: '\00d7';
}


/* Desktop */
@media (min-width: 680px) { 

	.w-50 {
		display: inline-block;
		width: 50%;
		padding: 20px;
		box-sizing: border-box;
	}

	.w-third {
		display: inline-block;
		width: 33.33%;
		padding: 20px;
		box-sizing: border-box;
	}
	
	.clock {
		margin-top: 20px;
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		border: solid 2px #979797;
		border-radius: 50%;
	}

	.hand {
		position: absolute;
		bottom: calc(50%);
		right: calc(50% - 2px);
		width: 2px;
		height: 50%;
		transform-origin: 0% 100%;
		transition: transform 1s linear;
	}
		.hand:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: -1px;
			width: 2px;
			height: 90%;
			background-color: #979797;
		}

		.hand span {
			display: none;
		}

	.hand-hours:before {
		height: 60%;
	}

	.hand-secs {
		right: calc(50% - 1px);
		width: 1px;
	}

		.hand-secs:before {
			width: 1px;
			background-color: #0692c6;
		}
		
}

/* Mobile */
@media (max-width: 679px) {

	.clock {
		margin-bottom: 2em;
	}
	
	.hand {
		display: inline-block;
		transform: rotate(0) !important;
		font-size: 32px;
	}
	
		.hand:not(:first-child):before {
			content: ':';
			padding-left: 12px;
			margin-right: 12px;
		}

		.hand-secs {
			color: #0692c6;
		}
}
